@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f6f8;
  color: #111827;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
